body {
    background-color: white;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 30%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #ff8052;
}

h1 {
    color: turquoise;
}
